body {
   background-color: #F5F5FB;
   ;
}

.card-list {
   .nav-pills {
      .nav-link {
         font-size: 18px;
         font-weight: 400;
         color: #9191A9;
         border-radius: 0;

         &.active {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #0C0D36;
            border-bottom: 2px solid #0C0D36;
            background: none;
         }
      }

   }

   a {
      .card {
         padding: 5px;
         border: none;
         margin-top: 20px;

         &:hover {
            background-color: #e4e4e4;
         }
      }
   }
}

.Store-Settings {
   background-color: #FEFEFE;
}