.Categories {
   border-radius: 8px;
   text-align: center;
   background-color: #f4f4f4;
   padding: 20px;
   transition: all 0.3s ease;

   &:hover {
      background-color: #e4e4e4;
   }

   @include media-breakpoint-up(sm) {
      &:hover {
         margin-top: -10px;
         background-color: #e4e4e4;
         transition: all 0.3s ease;
      }
   }

}

.carousel-inner {
   border-radius: 8px;
}

.card {
   transition: all 0.3s ease;
   border: none;
}

@include media-breakpoint-up(md) {
   a:hover .card {
      transition: all 0.3s ease;
      margin-top: -10px;
   }
}


#N-Products {
   margin-bottom: 100px;
}