.btn {
   width: 100%;
   border: none;
}

.btn-success {
   background: #29A867;
}

.btn-back {
   background-color: #f3f3f3;
   color: #bbbbbb;
   border: none;

   &:hover {
      background-color: #e9e6e6;
      color: #bbbbbb;
      border: none;
   }
}

.btn-add {
   background: #BBBBBB;
   border-radius: 6px;
   color: #FFFFFF;

   &:hover {
      background-color: #a19f9f;
      color: #FFFFFF;
      border: none;
   }

   &:focus {
      background-color: #a19f9f;
      color: #FFFFFF;
      border: none;
   }
}

.btn-save {
   width: 180px;
   height: 45px;
   margin: 40px;
}