@import "../../../libraries/bootstrap/scss/bootstrap.scss";

.navbar {
   .container {
      @include media-breakpoint-down(md) {
         max-width: 767px;
      }

      .pagestag {
         h3 {
            margin: 0;
         }

         h6 {
            margin: 0;
            font-weight: 400;
         }
      }

      .profile {
         width: auto !important;

         ul {
            margin: auto 0;
            display: flex;
            align-items: center;

            li {
               margin-right: 10px;

               @include media-breakpoint-down(sm) {
                  display: none;
               }
            }
         }
      }
   }
}

.sidebar {
   position: fixed !important;
   width: 240px;
   margin-left: 0px;
   height: 100% !important;
   transition: all 0.3s ease;
   z-index: 99;
   background: #fff;
   color: #C5C5C5;

   @include media-breakpoint-down(md) {
      margin-left: -240px;
   }

   .SideNavList {
      .nav-item {
         margin: 34px 0;
         position: relative !important;
         height: 38px;
         width: 100% !important;

         &:hover {
            border-right: 5px solid #ff2600;
            background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 16%, #ff7158bb 100%);
            background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 16%, #ff7158bb 100%);
            background: linear-gradient(to right, #ffffff 0%, #ffffff 16%, #ff7158bb 100%);

            h6 {
               color: #0c0d36;
            }
         }

         a {
            align-items: center;
            height: 38px;
            display: flex !important;


         }
      }

      .active {
         color: #0c0d36;
         border-right: 5px solid #ff2600;
         background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 16%, #ff7158bb 100%);
         background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 16%, #ff7158bb 100%);
         background: linear-gradient(to right, #ffffff 0%, #ffffff 16%, #ff7158bb 100%);

         h6 {
            font-weight: 500;
         }
      }
   }
}

.content {
   transition: all 0.3s ease;
   margin-left: 280px;
   margin-right: 40px;

   @include media-breakpoint-down(md) {
      width: 100%;
      margin-left: 0px;
   }
}

.sidebar.active {
   margin-left: -240px;

   @include media-breakpoint-down(md) {
      margin-left: 0px;
   }
}

.sidebar.active~.content {
   margin-left: 0px;
   margin-right: 0px;
   overflow-x: hidden;

   @include media-breakpoint-down(md) {
      margin-left: 280px;
   }
}

@include media-breakpoint-down(lg) {
   body {
      overflow-x: hidden;
   }
}