@import "../../../libraries/bootstrap/scss/bootstrap.scss";

.navbar {
   .container {
      @include media-breakpoint-down(md) {
         max-width: 767px;
      }

      .pagestag {
         h3 {
            margin: 0;
         }

         h6 {
            margin: 0;
            font-weight: 400;
         }
      }

      .profile {
         width: auto !important;

         ul {
            margin: auto 0;
            display: flex;
            align-items: center;

            li {
               margin-right: 10px;

               @include media-breakpoint-down(sm) {
                  display: none;
               }
            }
         }
      }
   }
}

.sidebar {
   position: fixed !important;
   margin-left: -240px;
   height: 100% !important;
   transition: all 0.3s ease;
   z-index: 99;
   background: #fff;

   ul {
      li {
         margin: 34px 0;
         position: relative !important;
         height: 38px;
         width: 100% !important;

         a {
            align-items: center;
            height: 38px;
            display: flex !important;

            &:hover {
               border-right: 5px solid #ff7158;
               background: #ffffff;
               background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 16%, #ff7158bb 100%);
               background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 16%, #ff7158bb 100%);
               background: linear-gradient(to right, #ffffff 0%, #ffffff 16%, #ff7158bb 100%);

               h6 {
                  color: #0c0d36;
                  font-weight: 500;
               }
            }
         }
      }
   }
}

.content {
   background-color: #e5e5e5;
   transition: all 0.3s ease;
   position: relative;
}

.sidebar.active {
   width: 240px;
   margin-left: -20px;
}

.sidebar.active~.content {
   margin-left: 220px;

   @include media-breakpoint-down(sm) {
      margin-left: 0;
   }

}